body{
    background: url(https://www.wallpapertip.com/wmimgs/3-36303_multi-color-backgrounds-hd.jpg);
  }
  
  
  h1{
    padding-top:100px;
    text-align:center;
    font-family: 'Oswald', sans-serif;
    font-size:3rem;
    margin-bottom:0;
  }
  
  #description{
    text-align:center;
    font-family: 'Oswald', sans-serif;
    font-size:2.2rem;
    font-style: italic;
    margin-top:0;
  }
  
  #box{
    margin-left:22%;
    margin-right:22%;
    background-color: rgba(255,0,0,.4);
    border-radius:10px;
    padding-top:10px;
    padding-bottom:20px;
  }
  
  #survey-form{
    display:block;
    font-family: 'Oswald', sans-serif;
    font-size:1.5rem;
    text-align:left;  
    margin-left: 15px ;
    
    
    
  }
  
  input,select,button{
    display:block;
    border-width:1px;
    border-radius:3px;
    border:none;
    font-family: inherit;
    font-size:1.2rem;
    box-sizing: border-box;
  }
  
  #name,#email,#number,#dropdown{
    width:96%;
    
  }
  
  #Sexo,#lenguaje{
    display:block;
  }
  
  input[type=checkbox],input[type=radio]{
    display:inline;
  }
  
  #text{
    width:96%;
    min-height:100px;
    box-sizing: border-box;
  }
  
  button{
    width:96%;
    box-sizing: border-box;
    
  }
  
  button:hover{
    background:#51d1f6;
    transform: scale(1.04);
    font-weight: bold;
  }
  
  
  @media (max-width: 700px) { 
  
    #box{
    margin-left:5%;
    margin-right:5%;
    background-color: rgba(255,0,0,.4);
    border-radius:10px;
    padding-top:10px;
    padding-bottom:20px;
  }
  }